.modal {
    --gradient: linear-gradient(
        25deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(121, 9, 112, 1) 20%,
        rgba(0, 212, 255, 1) 60%,
        rgb(184, 20, 118) 80%,
        rgba(2, 0, 36, 1) 100%
      );
      background-image: var(--gradient);
      background-size: 300%;
      animation: bg-animation 15s infinite alternate;
    
    position: fixed;
    top: 15%;
    left: 35%;
   
  
    border-radius: 10px;
    padding: 10px;
    width: 50vh;
    height: 60vh;
    overflow-y: scroll;
}

.blur {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(39, 34, 34, 0.8);
}
.signup-form {
    padding: 10px;
}
.signup-form h1 {
    margin-bottom: 70px;
    
}

.signup-form input, button {
    background-color: transparent;
    margin-top: 30px;
    margin-bottom: 30px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    outline: none;
    border-bottom: 1px white solid;
    height:50px;
    font-size:15pt;
    color: white;
    
    
    
}

::placeholder{
    color: rgb(89, 85, 85);
}

.signup-form input {
    display: block;
    width: 100%;
}

.signup-form button {
    background-color: white;
    border-top: 1;
    border-left: 1;
    border-right: 1;
    font-family: LEMON;
    margin-left: 40px;
    width: 80%;
    border-radius: 10px;
    color: black;
    transition: 0.5s;
}
.signup-form button:hover{
    transform: scale(1.1);
}

.exit-icon {
    margin-left: auto; 
    margin-right: 0;
}