.admin-body {
    animation: fadeInAnimation ease 3s;
    
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.admin-body h1{
    margin-top: 50px;
    color: white;
    font-family: LEMON;
    font-size: 40px;
}
.admin-body input {
    min-width: 20vh;
    width: 40vh;
   
    background-color: white;
    border-radius: 5px;
    border: none;
    outline: none;
}
.search-bar {
    
    margin-bottom: 20px;
    display: flex;
  
    gap: 10px;
}
.search-icon {
    padding-left: 25px;
    background: url("../../images/search-icon.png") no-repeat left;
    background-size: 20px;
  }

  .admin-body .hr-line {
        color: white;
        border: 2px solid;
        border-radius: 5px;
   
  }


  #filter-button {
    background-color: gray; /* default color */
    color: white;
    border: none;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    transition: 0.3s;
  }
  #filter-button:hover {
    transform: scale(1.1);
}

  #filter-button.active {
    background-color: green;
    font-weight: bold;
  }
  
  #filter-button.inactive {
    background-color: white; 
    color: black;
  }

  .admin-project-list {
    margin-left: 75px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    min-height: 72vh;
    gap: 50px;
  }

  .search-with-create {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }
 
