.title:hover, .card img:hover {
    transform: scale(1.1);
}

.project-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 90vh;
    font-family: LEMON;
    color: white;
    gap: 10vh;
}

.card {
    
    margin-top: 100px;
    margin-bottom: 300px;
    display: flex;
    gap: 150px;
    align-items: center;
}


.card img {
    border-radius: 10px;
    min-height: 30vh;
    min-width: 50vh;
    max-height: 50vh;
    max-width: 75vh;
    transition: 0.5s;
}

.card h1 {
    font-size: 7vh;
}

.title, .header, .description {
    margin-top: 10px;
}

.title {
    transition: 0.5s;
    display: inline-block;
}

.description {
    max-width: 70vh
}

.header {
    margin-top: 40px;
}

.description {
    color: rgb(210, 210, 216)
    ;
}

.content {
    min-width: 80vh;
    max-width: 80vh;
}

.content h1 {
    min-width: 80vh;
    max-width: 80vh;
    display: inline-block;
    
}